## import dependencies

In [1]:
import numpy as np
import pandas as pd
import sklearn.metrics as metrics
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
from sklearn.feature_selection import SelectKBest, chi2
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder, StandardScaler, MinMaxScaler

## read dataset

In [2]:
# reading the dataset
dataset = pd.DataFrame(pd.read_excel("dataset/superstore.xlsx"))
dataset.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,CustomerID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

## Data preprocessing

In [3]:
# checking any missing values
print("checking any missing values..")
print(dataset.isnull().sum())

# dropping "ROW ID" column as its a serial number
dataset = dataset.drop('Row ID',axis=1)

# dropping "Country" columns as it has only one value
dataset = dataset.drop('Country',axis=1)

checking any missing values..
Row ID           0
Order ID         0
Order Date       0
Ship Date        0
Ship Mode        0
CustomerID       0
Customer Name    0
Segment          0
Country          0
City             0
State            0
Postal Code      0
Region           0
Product ID       0
Category         0
Sub-Category     0
Product Name     0
Sales            0
Quantity         0
Discount         0
Profit           0
dtype: int64

In [9]:
# extracting independent(X) and dependent(Y) values from datset
X = dataset.iloc[:, :-1]
Y = dataset.iloc[:, -1]

# remove alphabets from numeric inputs 
X['Order ID'] = X['Order ID'].str.replace('\D+','').astype(float)
X['CustomerID'] = X['CustomerID'].str.replace('\D+','').astype(float)
X['Product ID'] = X['Product ID'].str.replace('\D+','').astype(float)
X['Ship Date'] = pd.to_datetime(X['Ship Date']).values.astype(np.float)
X['Order Date'] = pd.to_datetime(X['Order Date']).values.astype(np.float)
X['Postal Code'] = pd.to_datetime(X['Postal Code']).values.astype(np.float)
X['Quantity'] = pd.to_datetime(X['Quantity']).values.astype(np.float)


# splitting the dataset 
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=1)

'''
print(X_train.columns.get_loc("Ship Mode"))
print(X_train.columns.get_loc("Segment"))
print(X_train.columns.get_loc("City"))
print(X_train.columns.get_loc("Region"))
print(X_train.columns.get_loc("Category"))
print(X_train.columns.get_loc("Sub-Category"))
'''

<ipython-input-9-0f6305c200d2>:6: FutureWarning: The default value of regex will change from True to False in a future version.
  X['Order ID'] = X['Order ID'].str.replace('\D+','').astype(float)
<ipython-input-9-0f6305c200d2>:7: FutureWarning: The default value of regex will change from True to False in a future version.
  X['CustomerID'] = X['CustomerID'].str.replace('\D+','').astype(float)
<ipython-input-9-0f6305c200d2>:8: FutureWarning: The default value of regex will change from True to False in a future version.
  X['Product ID'] = X['Product ID'].str.replace('\D+','').astype(float)

## Feature selection

In [8]:
# selected_features = SelectKBest(chi2, k='all').fit(X_train, Y_train)

## Encoding of numeric and categorical features

In [22]:
# encoding numeric and categorical features into onehotencoder

numeric_features = ["Order ID",	"Order Date",	"Ship Date", "CustomerID", "Postal Code",	"Product ID", "Sales",	"Quantity",	"Discount"]
numeric_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='mean')),
    ('scaler', MinMaxScaler())])

categorical_features = [3,6,7,10,12,13]
categorical_transformer = OneHotEncoder(handle_unknown='ignore')

preprocessor = ColumnTransformer(
    transformers=[
        ('num', numeric_transformer, numeric_features),
        ('cat', categorical_transformer, categorical_features)
    ])

# random forest model
model = RandomForestRegressor()

# pipeline 
clf = Pipeline(steps=[('preprocessor', preprocessor), ('classifier', model)])

## training and predictions

In [23]:
clf_model = clf.fit(X_train, Y_train)
print("model score: %.3f" % clf_model.score(X_test, Y_test))

model score: 0.812

In [36]:
preds = clf_model.predict(X_test)

pd.DataFrame({"Actual Values": Y_test, "Predicted Values": preds})

      Actual Values  Predicted Values
1814        -8.5068          2.881863
881          8.3268          7.420596
1122         6.6584          7.716698
6807        35.6613         34.295165
2911        19.4580         17.968698
...             ...               ...
6908         4.2804          5.543470
2776         4.5738          9.300980
4806        19.2600         19.786267
9290         2.8536          2.920130
1123        11.5800         13.658582

[1999 rows x 2 columns]

## calculating metrics: RMSE, MAE

In [25]:
mae = metrics.mean_absolute_error(preds, Y_test)
# mse = metrics.mean_squared_error(preds, Y_test)
# rmse = np.sqrt(mse) # or mse**(0.5)  
print(mae)

17.155318092546274